<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="head mb-auto">
    <div class="inner">
      <p class="sub-thema text-right">ChooseChocolate</p>
    </div>
  </header>

<main role="main" class="inner cover main-container">
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="thema cover-heading text-center">ChooseChocolate</h1>
        <p class="explain text-center">あなたにピッタリのチョコレートを選びます</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="search-button btn btn-lg align-center btn-outline-light">Choco Coco</button>
        </div>
      </div>
    <div>
  </div>
</main>

  <footer class="mt-auto border-top">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col">
            <%= link_to '利口規約', '#', class: "font-color" %>
          </div>
          <div class="col">
            <%= link_to 'プライバシーポリシー', '#', class: "font-color" %>
          </div>
          <div class="col">
            <%= link_to 'お問い合わせ', '#', class: "font-color" %>
          </div>
          <div class="col-12 copy-right font-color">
            <p>©2021 ChooseChocolate</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

