<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover main-container">
    <div class="container main-container">
      <div class="row">
        <div class="col align-self-center">
          <h1 class="thema cover-heading text-center">ChooseChocolate</h1>
          <p class="explain text-center">あなたにピッタリのチョコレートを選びます</p>
          <div class="d-flex justify-content-center">
            <button type="button" class="search-button btn btn-lg align-center btn-outline-light">Choco Coco</button>
          </div>
        </div>
      <div>
    </div>
  </main>
</div>

