<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover main-container">
    <div class="container main-container">
      <div class="row">
        <div class="col align-self-center">
          <h1 class="thema cover-heading text-center">ChooseChocolate</h1>
          <p class="explain text-center">あなたの疲れをチョコでチョコっと癒します</p>
          <div class="d-flex justify-content-center">
            
            <%= link_to 'Choco Coco', chocolate_choices_new_path, class:'earch-button btn btn-lg align-center btn-outline-light search-button' %>
          </div>
        </div>
      <div>
    </div>
  </main>
</div>

