<div class="privacy-text">
  <h1 class="text-center">
  プライバシーポリシー
  </h1>
  <div class="container">

  <h2>お客さまから取得する個人情報</h2>
    <p>本サービスはお客様から以下の個人情報を取得します。</p>
    <ol>
    <li>氏名(ニックネームやペンネームも含む)</li>
    <li>メールアドレス</li>
    <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた個人情報</li>
    <li>本ウェブサイトの滞在時間、入力履歴、購入履歴等の当社ウェブサイトにおけるお客様の行動履歴</li>
    </ol>
  
  <h2>お客様の個人情報を取得する目的</h2>
    <p>本サービスはお客様から取得した個人情報を、以下の目的のために利用します。</p>
    <ol>
    <li>本サービスの提供・運営のため</li>
    <li>お客様からのお問い合わせに対応するため</li>
    <li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
    <li>市場分析、マーケティングに使用するため</li>
    <li>本規約や法令に違反する行為、不正・不当な目的でサービスを利用しようとするお客様に対応するため</li>
    <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
    <li>本規約の変更等を通知するため</li>
    <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
    </ol>

  <h2>個人情報の第三者提供</h2>
    <p>本サービスは、お客様から取得する情報のうち個人データ(個人情報保護第2条第6項目)に該当するものについてはあらかじめお客様の同意を得ずに、第三者に提供しません。</p>
    <p>但し、以下の場合を除きます。</p>
    <ol>
    <li>個人データの取り扱いを外部に委託する場合</li>
    <li>本サービスが買収された場合</li>
    <li>事業パートナーと共同利用する場合(具体的な共同利用がある場合は、その内容を別途公表します。)</li>
    <li>法律によって合法的に第三者に提供が許されている場合</li>
    </ol>
  
  <h2>アクセス解析ツール導入</h2>
    <p>本サービスは、お客様のアクセス解析のため、「Googleアナリティクス」、「LogRocket」を利用しています。このGoogleアナリティクス・LogRocketはデータ収集のためにCookieを使用しています。</p>
    <p>この機能はCookieを無効にすることで収集を拒否することができますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細は
    <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noopener noreferrer">Googleアナリティクスサービスの利用契約</a>や
    <a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank" rel="noopener noreferrer">Googleポリシーと規約</a> <a href="https://logrocket.com/privacy/">LogRocketプライバシーポリシー</a>をご覧ください。
    </p>

  <h2>プライバシーポリシーの変更</h2>
    <p>本サービスは、必要に応じてこのプライバシーポリシーの内容を変更します。</p>

  <h2>お問い合わせ</h2>
  <p>本サービスのプライバシーポリシーに関するお問い合わせは、お問い合わせページからお願い致します。</p>
  </div>
</div>
