<div class="text-center">
  <h2>パスワードリセットしますか？？</h2>

  <p>ご利用頂きありがとうございます</p>
  <p>ChooseChocolateです</p>

  <p>パスワードをリセットをしたい場合、下記リンクをクリックしてください</p>
  <a href="<%= @url %>"><%= @url %></a>

  <p>当メールにお心当たりがない場合は、お手数ですが削除してください。</p>

  <p>choosechocolate</p>
</div>
