.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.card-columns {
  columns: 3;
}

.drop-shadow {
  box-shadow: 0 0 10px black;
}

.link {
  text-decoration: none;
  color: #6c3524;
}

.link:hover {
  color: #6c3524;
}

.card-title {
  font-family: Allison;
}

// .card {
//   margin-right: 15px;
//   margin-left: 15px;
// }
