.drop-shadow {
  box-shadow: 0 0 10px black;
}

.card-title {
  font-weight: bold;
  font-size: 80px;
}

.store-url {
  text-decoration: none;
  color: #6c3524;
}

.store-url:hover {
  color: #6c3524;
}
