<%# お勧めチョコ一覧表示、カード型で？ー＞クリック後、モーダルウィンドウ表示 %>
<div class="flex">
  <% @good_stimulus_chocos.each do |choco| %>
  <div class="card">
    <div class="card-name">
      <%= choco.name %>
    </div>
    <div class="card-body">
      <div>image: </div>
      <%= choco.image %>
      <div>detail: </div>
      <%= choco.detail %>
    </div>
  </div>
  <% end %>
  <%= link_to '#', class:'btn' do %>
  <p>チョコレート一覧</p>
  <% end %>
</div>
