<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="index3.html" class="brand-link">
    <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to "チョコレート一覧", admin_chocolates_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "レビュー一覧", admin_chocolates_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>
</aside>
