<div class="card-deck">
  <% @chocolates_list.each do |choco| %>
  <div class="card">
    <% if choco.image.blank? %>
      <%= image_tag 'bar-chocolate.png', id: 'bar-choco' , size: "70%x90"%>
    <% else %>
      <%= choco.image %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= choco.name %></h5>
      <p class="card-text"><%= choco.detail %></p>
    </div>
  </div>
  <% end %>
</div>
